body{
    overflow: hidden;
}
#calculator{
    background-color: #6787A3;
    box-shadow: 0 1vh #133758;
}
#display{
    height: 75px;
    margin: 5% 0 3% 0;
    padding: 3%;
    background-color: #DAFFFF;
    border: 1px solid #133758;
    border-radius: 7px;
    color: #292929;
    text-align: right;
    font-size: 250%;
}
#keypad{
    margin: 3% 0;
    text-align: center;
}
.btn{
    font-size: 150%;
    width: 23.5%;
    height: 10vh;
    margin: 0.25vw 0.25vw 2vh 0.25vw;
    background-color: #E5DDC5;
    box-shadow: 0 0.75vh #A69B7A;
}
.clearBtn{
    border-color: #FFBC9D;
    background-color: #D5845F;
    box-shadow: 0 0.75vh #7E3615;
}
.operatorBtn{
    border-color: #8BCE5C;
    background-color: #5D9E2F;
    box-shadow: 0 0.75vh #336510;
}
#doubleWide{
    width: 48.25%;
}
.btn:focus{
    background-color: #E5DDC5;
    outline: none;
}
.clearBtn:focus{
    background-color: #D5845F;
    border-color: #FFBC9D;
}
.operatorBtn:focus{
    background-color: #5D9E2F;
    border-color: #8BCE5C;
}
.btn:hover, .btn:active{
    margin-top: 0.5vw;
    margin-bottom: .5vw;
    background-color: #EDE7D7;
    box-shadow: 0 0 #A69B7A;
    outline: none;
}
.clearBtn:hover, .clearBtn:active{
    background-color: #FFBC9D;
}
.operatorBtn:hover, .operatorBtn:active{
    background-color: #CEF3B4;
}
#equationHistory{
    margin: 3%;
}

/* Change size for larger screens */
@media (min-width: 768px) {
    body{
        background-image: url("images/desk-top-inspiration-16.png");
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: 100vw 100vh;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #calculator {
        margin-top: 11vh;
        border-radius: 10px;

    }
    .btn{
        width: 22%;
        height: 5vw;
        margin: 0.25vw 0.25vw 2vh 0.25vw;
    }
    #doubleWide{
        width: 47%;
    }
    #equationHistory{
        margin: 0;
        height: 100vh;
        width: 50%;
        background-image: url("images/notebookpaper.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        -webkit-transform: translate(11vw, 18vh) rotate(-15deg); /* Safari */
        transform: translate(11vw, 18vh) rotate(-15deg);
    }

    #equationDisplay{
        margin: 14.5% 0 0 15%;
        font-size: 110%;
    }
    #equationDisplay p{
        margin-bottom: 2.2%;
    }
}